<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">Thougthbox</a>
    <form class="form-inline pull-xs-right">
      <button class="btn btn-primary-outline" type="submit">Sign Out</button>
    </form>
</nav>
