<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">Thougthbox</a>
    <form class="form-inline pull-xs-right">
      <% if current_user %>
        <span><%= current_user.email %></span>
        <%= link_to 'Sign Out', logout_path, class:'btn btn-primary-outline' %>
      <% else %>
        <%= link_to 'Sign In', login_path, class:'btn btn-primary-outline' %>
      <% end %>
    </form>
</nav>
